*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
   min-height: 1000px;
   background: #060c21;
 
}
/**
body
{
	background-image: url('img2.jpg');
	background-size: cover;
	
	background-repeat: no-repeat;
	background-position: center center;
	
	

}
**/
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .content
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 100vh;
    background: #008dff;
    border-radius: 50%;
    transform-origin: bottom;
    transform: translate(-50%) scale(4);
}
section .content
{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    text-align: center;
    color: #fff;
}
section .content h2
{
    font-size: 3em;
}
section .content p
{
    font-size: 1.2em;

}
.container
{
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
	grid-gap: 0 40px;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'poppins',sans-serif;
	padding-left: 52px;
}
.container .box
{
	position: relative;
	height: 400px;
	background: #060c21;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}
.container .box:before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	transform: skew(2deg,2deg);
	z-index: -1;
}
.container .box:nth-child(1):before
{
	background: linear-gradient(315deg,#ff0057, #e64a19);

}
.container .box:nth-child(2):before
{
	background: linear-gradient(315deg,#89ff00, #00bcd4);

}
.container .box:nth-child(3):before
{
	background: linear-gradient(315deg,#e91e63, #5d02ff);

}
.container .box:nth-child(4):before
{
	background: linear-gradient(315deg,#ff0000, #ffc107);

}
.container .box:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.05);
	pointer-events: none;
}
.content1
{
	position: relative;
	padding: 20px;
	transform: translateY(40px);
}
.box .content1 h2
{
	position: relative;
	top: -60px;
	right: 20px;
	margin: 0;
	padding: 0;
	font-size: 10em;
	color: rgba(255,255,255,0.05);
	transition: 0.5s;
}
.box:hover .content1 h2
{
	top: -140px;
}
.box .content1 h3
{
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	color: #fff;
}
.box .content1 p
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}
.box .content1 a
{
	position: relative;
	margin: 20px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;

}
.box:hover .content1 a
{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.box .content1 a:hover
{
	color: #000;
	background: #fff;
	
}
.sidebar
{
	position: relative;
	left: -250px;
	width: 250px;
	height: 100vh;
	background: #ff0057;
	transition: all .5 ease;
}
.sidebar header
{
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select: none;
}
.sidebar ul a 
{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: #fff;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition: .4s;
}
ul li:hover a
{
	padding-left: 50px;

}
.sidebar ul a i
{
	margin-right: 16px;
}
#check
{
	display: none;

}
label #btn,label #cancel
{
	position: absolute;
	cursor: pointer;
	background: #042331;
	border-radius: 3px;
}
label #btn
{
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: #fff;
	padding: 6px 12px;
	transition: all .5s;

}
label #cancel
{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: #0a5275;
	padding: 4px 9px;
	transition: all .5s ease;
}
#check:checked ~ .sidebar
{
	left: 0;
}
#check:checked ~ label #btn
{
	left: 50px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel
{
	left: 165px;
}
section0
{
	
	background-position: center;
	background-size: cover;
	height: 100vh;


}
#scrollpath
{
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);

}

#preogressbar
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	
	background: linear-gradient(to top, #008aff,#00ffe7);
	animation: animate 5s linear infinite;
}
#preogressbar:before
#preogressbar:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(10px);
}
#preogressbar:after
{
	filter: blur(30px);
}
@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
::-webkit-scrollbar
{
	width: 0;
}
#percent
{
	position: fixed;
	top: 50%;
	transform: translateY(-50%) ;
	right: 15px;
	color:#00ffe7;
	font-size: 2em;
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
